body {
 color:rgb(125, 204, 204);
 background-color: beige; 
}
*{font-family: Arial, Helvetica, sans-serif;}
h1 {
    color: red;
    background-color: thistle;
}
p   {
    color: green;
    background-color: lime;

}
#p2 {
    color: rgb(89, 116, 41);
    background-color: rgb(255, 0, 204);
}
.parrafo {
    color: var(--main-color);
    background-color: lightgray;
}
:root {
    --main-color: purple;
    --secondary-color: lightyellow;
}
div{width: 200px;
height: 100px;
background-color: rgb(175, 97, 29);
border: 2px solid rgba(229, 20, 187, 0.511);
margin: 10px;
padding: 5px;}