body {
 color:aqua;
 background-color: beige; 
}
h1 {
    color: red;
    background-color: thistle;
}
p   {
    color: green;
    background-color: lime;

}
#p2 {
    color: rgb(166, 255, 0);
    background-color: rgb(255, 0, 204);
}
.parrafo {
    color: var(--main-color);
    background-color: lightgray;
}
:root {
    --main-color: purple;
    --secondary-color: lightyellow;
}